@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.yeon-sung-regular {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
}


#about {
  position: relative;
  font-size: 16px;
}

.windowAni {
  width: 100%;
  height: 100%;
  position: absolute;

  overflow: hidden;

  transition: transform 2s ease-in-out;
}

/* .leftWindow{
  background-color: #d08c60;
  width: 50%;
  height: 100%;

  position: absolute;
  top: 0%;
  left: 0%;

  transition: transform 2s ease-in-out;
}
.rightWindow{
  background-color: #997b66;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  
  transition: transform 2s ease-in-out;
}

.windowAni.open .leftWindow{
  transform: translate(-100%, 0%);
}

.windowAni.open .rightWindow{
  transform: translate(100%, 0%);
} */

/*////////////////////////// */
.aboutTable {
  background-color: ghostwhite;
  border-radius: 6px;
  width: 100%;
  /* height: 100%; */
  margin-top: 2%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1rem;
}

/* aboutTable의 레이아웃이 잘 안돼 어렵다 */
@media (max-width: 768px) {
  .midSlide {
    font-size: 0.75rem;
    scale: 1.0;
  }
}

@media (max-width: 1024px) {
  .midSlide {
    font-size: 1rem;
    scale: 1.2;
  }
}

@media (max-width: 1200px) {
  .midSlide {
    font-size: 1.125rem;
    scale: 1.2;
  }
}

@media (max-width: 1920px) {
  .midSlide {
    font-size: 1.25rem;
    scale: 1.2;
  }
}

.aboutMe {
  width: 50%;
  height: 30%;
  text-indent: 10px;
  padding: 1%;
}

.aboutMe :nth-child(1) {
  width: 20%;
  height: 20%;

  text-decoration: overline;
}

.aboutMe :nth-child(2) {
  width: 100%;
  height: 50%;

  text-align: left;
  padding: 1%;
}

.education {
  width: 50%;
  height: 30%;
  align-items: center;

  text-indent: 10px;
  padding: 1%;

}

.education>div {
  width: 20%;
  text-decoration: overline;

}

.education>ul {
  width: 100%;

  text-align: left;
  padding: 1%;
}

.skills {
  border: 1px solid red;
  width: 100%;
}

.skillLeft {
  width: 20%;
  text-decoration: overline;
  margin-left: 1%;
}

.like {
  text-indent: 10px;
}

.skillRight {
  text-align: left;
  width: 100%;

  margin: 1%;
}

.skillRight ul {
  padding: 1% 0% 2% 1%;
}

.skillRight li {
  border-radius: 10px;
  background-color: #ffb703;

  position: relative;
  /* 팁 메시지 위치용 */

  display: inline-block;
  padding: 2%;
}

.skillRight li:hover {
  background-color: #fb8500;
}

/* hover 시의 팁 메시지 모양 */
.tip {
  background-color: yellow;
  border-radius: 5px;
  padding: 10%;

  /* 팁 크기 */
  width: 400%;

  position: absolute;
  bottom: 100%;

  opacity: 0;
  visibility: hidden;
}

.tip:after {
  content: '';
  position: absolute;
  top: 100%;
  /* 아래쪽 화살표 */
  left: 10%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: yellow;
  border-left: 0px;
}

.front li:hover .tip {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.experience {
  text-indent: 10px;
}