@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.yeon-sung-regular {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
}


#about {
  border: 4px solid black;
  position: relative;
  /* box-sizing: border-box; */
  font-size: 16px;

  background-color: #a8dadc;
}

.windowAni {
  width: 100%;
  height: 100%;
  position: absolute;

  overflow: hidden;

  transition: transform 2s ease-in-out;
}

/* .leftWindow{
  background-color: #d08c60;
  width: 50%;
  height: 100%;

  position: absolute;
  top: 0%;
  left: 0%;

  transition: transform 2s ease-in-out;
}
.rightWindow{
  background-color: #997b66;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  
  transition: transform 2s ease-in-out;
}

.windowAni.open .leftWindow{
  transform: translate(-100%, 0%);
}

.windowAni.open .rightWindow{
  transform: translate(100%, 0%);
} */

/*  */
.aboutTable {
  background-color: #f1faee;
  border-radius: 6px;
  width: 60%;
  height: 60%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* 세로로 배치하고고 */

  font-size: 2.3vw;
}

.aboutMe {
  display: flex;
  width: 100%;

  flex: 1;
  /* 비율을 1로 */

  align-items: center;
}

.aboutMe :nth-child(1) {
  width: 30%;
  height: 50%;
  font-size: 130%;

  margin: 1% 0%;
}

.aboutMe :nth-child(2) {
  width: 70%;
  height: 50%;

  text-align: left;
  text-indent: 10px;

  margin: 1% 0%;
}

.education {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
}

.education>div {
  width: 30%;
  height: 50%;
  font-size: 130%;
  margin: 1% 0%;
}

.education>ul {
  width: 70%;
  height: 50%;

  text-align: left;
  text-indent: 10px;

  margin: 1% 0%;
}

.skills {
  width: 100%;

  display: flex;
  flex: 2;
  /* 2의 비율 */
  align-items: center;
}

.skills .skillLeft {
  width: 30%;
  font-size: 150%;
}

.skills .skillRight {
  width: 70%;
  margin: 1% 0%;

  text-align: left;
  text-indent: 10px;
}

.skills .like {}

.skills .normal {}

.skillRight ul {
  padding: 3% 0% 5% 0%;

}

.skillRight li {
  border-radius: 10px;
  background-color: #ffb703;
  display: inline;
  padding: 2%;
}

/* 스택 호버할때 색깔 정할것 */
.skillRight li:hover {
  background-color: #fb8500;
}

.front :nth-child(1) {
}

.backend :nth-child(1) {
}




